<br>
  <div class="row">
    <div class="col s6 offset-s3">
      <div class="card-panel">
        <span class="white-text">
          <center>
            <h4 class="amber-text text-darken-2"><%= title_verb %> Brewery Review:</h5>
              <%= form_for rating do |f| %>
                <div class="row">
                  <div class="input-field col s8 offset-s2">
                    <%= f.collection_select :brewery_id, Brewery.all.alphabetize, :id, :name, include_blank: "Select Brewery" %>
                  </div>

                  <div class="input-field col s8 offset-s2">
                    <%= f.label :rating, "Rating (1-5)" %>
                    <%= f.text_field :rating %>
                  </div>

                  <div class="input-field col s8 offset-s2">
                    <%= f.label :comment %>
                    <%= f.text_area :comment, class:"text_area" %>
                  </div>
                </div>
              <br>
                <%= f.submit button_name, class: "btn amber darken-2" %>
              <% end %>
          </center>
        </span>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>