<br>
<div class="row">
  <div class="col s6 offset-s3">
    <div class="card-panel">
      <span class="white-text">
        <center>
          <h4 class="amber-text text-darken-2">Review <%= @brewery.name %></h4>
          <%= form_for [@brewery, @rating] do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :brewery_id %>

            <div class="input-field col s10 offset-s1">
              <%= f.text_field :rating %>
              <%= f.label :rating, "Rating (1-5)" %>
            </div>

            <div class="input-field col s10 offset-s1">
              <%= f.text_area :comment, class: "text_area" %>
              <%= f.label :comment %>
            </div>
            <br>
            <%= f.submit class: "btn amber darken-2" %>
          <% end %>
        </center>
      </span>
    </div>
  </div>
</div>

