
<center>
<%= image_tag("banners/Brewery_2_banner.jpg", width: "1255px") %>
</center>
<div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <%= image_tag "cards/brewery.jpg" %>
          <span class="card-title">Top 100</span>
        </div>
        <div class="card-content">
          <p>View the top rated breweries across the states. Make sure to visit them if any are near you... or even if they aren't!</p>
        </div>
        <div class="card-action">
          <a href="/top100">The most popular breweries in the USA!</a>
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <%= image_tag "cards/Banner2.jpg" %>
          <span class="card-title">NY Breweries</span>
        </div>
        <div class="card-content">
          <p>We have over 400 breweries located in New York! Make sure to check out and leave reviews for your favorite spots.</p>
        </div>
        <div class="card-action">
          <a href="/breweries?query=New+York&commit=Search">View all New York breweries</a>
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <%= image_tag "cards/outdoor.jpg" %>
          <span class="card-title">Database</span>
        </div>
        <div class="card-content">
          <p>The world's most complete database for the beer industry. Their data is timely and accurate. Brewery DB is owned and operated by BrewLogix.</p>
        </div>
        <div class="card-action">
          <a href="https://www.brewerydb.com/">Brewery DB</a>
        </div>
      </div>
    </div>
  </div>
<center>
<%= image_tag("banners/brewery.jpg", width: "1255px") %>
<%= image_tag("banners/angel-brewery.jpg", width: "1255px") %>
</center>


