<%= form_tag("/breweries", method: "get") do %>
  <div class="row">
    <div class="input-field col s3">
      <%= text_field_tag :query %>
      <%= label_tag :query, "Enter brewery name, city, or state" %>
    </div>
    <div>
      <br>
      <%= submit_tag "Search", class: "btn amber darken-2" %>
    </div>
  </div>
<% end %>

<% if params[:query] %>
  <p>
    Search results for: '<%= params[:query] %>'
  </p>
<% end %>