<br>
<h4 class= "amber-text text-darken-2">Edit <%= @brewery.name %></h4>

<%= form_for @brewery do |f| %>


  <div class="input-field col s10">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="input-field col s10">
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>

  <div class="input-field col s5">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="input-field col s2">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>

  <div class="input-field col s3">
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code %>
  </div>

  <div class="input-field col s10">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="input-field col s10">
    <%= f.label :website_url %>
    <%= f.text_field :website_url %>
  </div>


  <div class="input-field col s10">
      <%= f.submit class:'btn amber darken-2' %>
  </div>
</div>

<% end %>
