<br>
<div class="row">
  <div class="col s7">
      <div class="card small horizontal">
        <div class="card-image">
          <img src="https://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="header"><%= @brewery.name %></h5>
            <p>
              <%= @brewery.street %><br>
              <%= @brewery.city %>,
              <%= @brewery.state %>
              <%= @brewery.postal_code %><br><br>
              Phone: <%= @brewery.phone != "" ? @brewery.phone : "N/A" %><br><br>
              Website: <%= link_to @brewery.website_url, @brewery.website_url %>
              <br>
              
            </p>
          </div>
          <div class="card-action">
            <%= link_to "Edit", edit_brewery_path(@brewery) %>
            <%= link_to "Delete", brewery_path(@brewery), method: "delete" %>
            <%= link_to "Write a Review", new_brewery_rating_path(@brewery) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <h4 class="amber-text text-darken-2">Past Reviews:</h4>
  <% @brewery.ratings.each do |rating| %>
    <div class="col s12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%= rating.user.first_name %> <%= rating.user.last_name %></span>
          <p>
            Rating (1-5): <%= rating.rating %><br>
            Review: <%= rating.comment %>
          </p>
        </div>
        <div class="card-action">
          <a href="#">View User Profile</a>
          <%= link_to "Edit Review", edit_brewery_rating_path(@brewery.id, rating.id) %>
        </div>
      </div>
    </div>
  <% end %>
  


