<br>
<h4 class="amber-text text-darken-2">Top 100 Breweries</h4>
<div class="row"> 
  <% @breweries.each.with_index(1) do |brewery, i| %>
    <div class="col s12 m6">
      <div class="card small horizontal">
        <div class="card-image">
          <img src="https://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="header amber-text text-darken-2"><%= i %>. <%= brewery.name %> (<%= rating_average(brewery) %>)</h5>
            <p>
              <%= brewery.street %><br>
              <%= brewery.city %>,
              <%= brewery.state %>
              <%= brewery.postal_code %><br>
              Phone: <%= style(brewery.phone) %><br>
              Website: <%= link_to brewery.website_url, brewery.website_url %>
              <br>
              
            </p>
          </div>
          <div class="card-action">
            <a href="<%= brewery_ratings_path(brewery) %>">See Reviews (<%= brewery.ratings.count %>)</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<div>
  
