<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/breweries">Brewery List</a></li>
  <li><a href="/ratings/new">Review Brewery</a></li>
</ul>
<!-- Dropdown Structure -->
<ul id="dropdown2" class="dropdown-content">
  <li><a href="#!">My Profile</a></li>
  <li><a href="#!">My Reviews</a></li>
  <li class="divider"></li>
  <li><%= link_to "Logout", destroy_session_path, method: "DELETE" %></li>
</ul>

<nav class="amber darken-2">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo"><i class="material-icons right">local_drink</i>Brewtiful</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Breweries<i class="material-icons right">arrow_drop_down</i></a></li>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown2"><%= current_user.first_name %> <%= current_user.last_name %><i class="material-icons right">arrow_drop_down</i></a></li>
        <% else %>
          <li><a href="/breweries">Breweries List</a></li>
          <li><%= link_to "Login", login_path %></li>
          <li><%= link_to "Signup", signup_path %></li>
        <% end %>
      </ul>
    </div>

  </nav>

<script>

$(document).ready(function(){
    $(".dropdown-trigger").dropdown();
  });

</script>

<style>
  .brand-logo{
    font-family: Georgia;
  }
  #nav-mobile{
    font-family: Georgia, serif;
  }
</style>

